<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ====== Google Search Console Verification ======-->
    <meta name="google-site-verification" content="4QoM-txKXZ7p5ZiDHdhJPRAoQLQswWS_P0Z6QpbRXSQ" />
    
    <!-- ====== Favicon ======-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
    <!-- ====== Remix Icons CDN ======-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- ====== Main Style Css ======-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="" media="all" />
    <title>{% block title %} Навес - Готовые конструкции в Алматы - navesy-almaty.kz {% endblock %}</title>
</head>
<body>
    <!-- ====== Header ======-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <i class="ri-leaf-line nav__logo-icon"></i><sup class="too">TOO</sup>Daulet  Temir
            </a>
            
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">О компаний</a>
                    </li>
                    
                    <li class="nav__item">
                        <a href="#gallery" class="nav__link">Примеры</a>
                    </li>
                    
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Контакты</a>
                    </li>
                </ul>
                
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>
    <!-- /#header.header -->
    
    <!-- ===== MAIN ===== -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    
    <!-- ====== Footer ======-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <i class="ri-leaf-line footer__logo-icon"></i> <sup class="too">TOO</sup>Daulet Temir
                </a>
                
                <h3 class="footer__title">
                Подпишись на наши рассылки <br> что бы быть в курсе
                </h3>
                <form action="">
                    <div class="footer__subscribe">
                        <input type="email" placeholder="Введите ваш email" class="footer__input">
                        
                        <button class="button button--flex footer__button">
                            Подписаться <i class="ri-arrow-right-up-line button__icon"></i>
                        </button>
                    </div>
                </form>
            </div>
            
            <div class="footer__content">
                <h3 class="footer__title">
                    Наш адрес
                </h3>
                
                <ul class="footer__data">
                    <li class="footer__information">
                        Казахстан - Алматы
                    </li>
                    
                    <li class="footer__information">
                        мкр.Самгау ул.Аршалы 58/2
                    </li>
                    
                    <li class="footer__information">
                        + 7 747 600 3876
                    </li>
                </ul>
            </div>
            
            <div class="footer__content">
                <h3 class="footer__title">
                    Свяжись с нами
                </h3>
                
                <ul class="footer__data">
                    <li class="footer__information">
                        + 7 747 600 3876
                    </li>
                    
                    <div class="footer__social">
                        <a href="https://www.facebook.com/" class="footer__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" class="footer__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" class="footer__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                    </div>
                </ul>
            </div>
            
        </div>
        
        <p class="footer__copy">
            &#169; <sup>TOO</sup> Daulet Temir. Все права зарезервированы
        </p>
    </footer>
    <!-- /.footer -->
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
