{% extends 'base.html' %}

{% block content %}
<!-- ====== Home Section ======-->
        <section class="home" id="home">
            <div class="home__container container grid">
                <img src="{{ url_for('static', filename='img/home.jpg') }}" alt="Сварщики" class="home__img">
                
                <div class="home__data">
                    <h1 class="home__title">
                       Навесы, Ворота и другие изделия любой сложности
                    </h1>
                    <p class="home__description">
                        За время нашей деятельности мы успешно смонтировали и установили более полутысячи объектов по всей Алматы и Алматинской области.
                    </p>
                    <a href="#about" class="button button--flex">
                        О компаний <i class="ri-arrow-right-down-line button__icon"></i>
                    </a>
                </div>
            </div>
            <!-- /.home__container container grid -->
        </section>
        <!-- /#home.home -->
        
        <!-- ====== About Section ======-->
        <section class="about section container" id="about">
            <div class="about__container grid">
                <img src="{{ url_for('static', filename='img/about.jpg') }}" alt="Человек у печи" class="about__img">
                
                <div class="about__data">
                    <h2 class="section__title about__title">
                        О компаний
                    </h2>
                    
                    <p class="about__description">
                        Наша компания занимается изготовлением и монтажом всех типов навесов. На сегодняшний день – Navesy-Almaty это передовая компания, которая представлена на рынке навесов всех конфигураций с 2010 года. Развивая свою деятельность, начиная с 2010 года мы достигли следующих результатов:
                    </p>

                    <div class="about__details">
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Большое количество сданных объектов
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Собрали под своим началом опытных мастеров
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            У нас есть все необходимое для строительства и монтажных работ «Под ключ» , поскольку мы одни из лучших в своем деле!
                        </p>
                        <p class="about__details-description">
                            <i class="ri-checkbox-fill about__details-icon"></i>
                            Также, у нас есть специалисты, которые изготавливают заборы, навесы и ворота и их компоненты.
                        </p>
                        
                    </div>
                    
                    <a href="#gallery" class="button--link button--flex">
                        Примеры <i class="ri-arrow-right-down-line button__icon"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- /#about.about section container -->
        
        <!-- ====== Gallery Section ======-->
        <section class="gallery section container" id="gallery">
            <h2 class="section__title">Примеры</h2>
            <div class="gallery_container grid">
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/3.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/6.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/7.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/8.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/9.jpg') }}" alt="">
                </div>
                <div class="gallery__item">
                    <img src="{{ url_for('static', filename='img/10.jpg') }}" alt="">
                </div>
            </div>
        </section>
        <!-- /#gallery.gallery section container -->
        
        <!-- ====== Contact Section ======-->
        <section class="contact section container" id="contact">
            <div class="contact__container grid">
                <div class="contact__box">
                    <h2 class="section__title">
                        Напишите нам на почту <br> что бы узнать больше <br> информаций
                    </h2>
                    
                    <div class="contact__data">
                                                    <div class="contact__information">
                                <h3 class="contact__subtitle">Контакты телефон менеджера</h3>
                                <span class="contact__description">
                                    <i class="ri-phone-line contact__icon"></i>
                                    +7 747 600 3876
                                </span>
                            </div>

                            <div class="contact__information">
                                <h3 class="contact__subtitle">Наш email</h3>
                                <span class="contact__description">
                                    <i class="ri-mail-line contact__icon"></i>
                                    askar@navesy-almaty.kz
                                </span>
                            </div>
                    </div>
                </div>
                {% for msg in get_flashed_messages() %}
                    <div class="flash container" id="flash">
                        <i class="ri-close-line flash_close" id="flash-message-icon"></i>
                        {{ msg }}
                    </div>
                {% endfor %}
                <form method="post" action="/send" class="contact__form">
                        <div class="contact__inputs">
                            <div class="contact__content">
                                <input name="email" type="email" placeholder=" " class="contact__input">
                                <label for="" class="contact__label">Email</label>
                            </div>

                            <div class="contact__content">
                                <input name="subject" required="Obyazon" type="text" placeholder=" " class="contact__input">
                                <label for="" class="contact__label">Тема</label>
                            </div>

                            <div class="contact__content contact__area">
                                <textarea required="" name="message" placeholder=" " class="contact__input"></textarea>                              
                                <label for="" class="contact__label">Сообщение</label>
                            </div>
                        </div>

                        <button class="button button--flex">
                            Отправить 
                            <i class="ri-arrow-right-up-line button__icon"></i>
                        </button>
                    </form>
            </div>
        </section>
        <!-- /#contact.contact section container -->
{% endblock %}